/*
SkyApp Bootstrap Sass Theme
Author: Darko Hristovski
Version:0.0.1
*/
/*Base- Base styles, vatiables mixins etc.*/
/*Font-colors*/
/*Background-colors*/
/*Schowcase*/
/*Mizins*/
/* line 1, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0px;
}

/* line 5, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_normalize.scss */
.extra-pad {
  padding: 60px 0px;
}

/* line 1, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
}

/* line 8, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 12, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 16, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 19, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_base.scss */
img.device {
  width: 100%;
}

/* line 23, C:/Users/Darko/Desktop/Projects/skyapp/scss/base/_base.scss */
img.small-device {
  width: 70%;
}

/*Modules - Individual site components.*/
/*Blocks*/
/* line 3, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}

/* line 7, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0px;
  padding-top: 0px;
}

/* line 13, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block-primary {
  background: #00aff0;
  color: #ffffff;
}

/* line 17, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block-secondary {
  background: #7fba00;
  color: #ffffff;
}

/* line 21, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666666;
}

/* line 25, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block-dark {
  background: #2b5464;
  color: #ffffff;
}

/* line 30, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_blocks.scss */
.block-center {
  text-align: center;
}

/*Buttons*/
/* line 3, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_buttons.scss */
.btn-primary {
  background: #00aff0;
  color: #ffffff;
  border: 2px solid #ffffff;
}

/* line 8, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_buttons.scss */
.btn-primary:hover {
  background: #24c4ff;
  border: 2px solid #ffffff;
}

/*Sections*/
/* line 3, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
section {
  padding: 50px 0px;
}

/* line 6, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-showcase {
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat top center;
}

/* line 11, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-showcase .showcase-content {
  padding: 110px;
  text-align: center;
}

/* line 16, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-showcase h1 {
  color: #00aff0;
}

/* line 21, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-primary {
  background: #00aff0;
  color: #ffffff;
}

/* line 25, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-secondary {
  background: #7fba00;
  color: #ffffff;
}

/* line 29, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-light {
  background: #e4eef2;
  color: #666666;
}

/* line 33, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-dark {
  background: #2b5464;
  color: #ffffff;
}

/* line 37, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_sections.scss */
.section-primary {
  padding: 60px 0 0 0;
}

/*lists*/
/* line 3, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.list {
  margin-bottom: 30px;
}

/* line 7, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}

/* line 11, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.list-feature li {
  line-height: 3.6em;
  border-bottom: 1px solid #cccccc;
}

/* line 16, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.list-feature li:last-child {
  border: 0;
}

/* line 20, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.list-feature span {
  vertical-align: center;
  font-size: 20px;
  padding: 10px;
  color: #2b5464;
}

/* line 28, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.fa-primary {
  color: #00aff0;
}

/* line 33, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.fa-border {
  border: 2px solid #00aff0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px;
}

/*Headings*/
/* line 42, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.heading-primary {
  color: #00aff0;
}

/* line 45, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.heading-secondary {
  color: #7fba00;
}

/*Headings*/
/* line 50, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.heading-light {
  color: #e4eef2;
}

/* line 53, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_typography.scss */
.heading-dark {
  color: #2b5464;
}

/*Searchbox*/
/* line 5, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_form.scss */
.search {
  width: 100%;
}

/* line 8, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_form.scss */
.search h3 {
  margin-top: 0;
  padding: 0;
}

/* line 13, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_form.scss */
.search input[type="search"] {
  border: 2px solid #00aff0;
  height: 50px;
  width: 80%;
  padding-left: 10px;
  font-size: 18px;
}

/* line 21, C:/Users/Darko/Desktop/Projects/skyapp/scss/modules/_form.scss */
.search button {
  border: 0;
  background: none;
  padding: 0;
  vertical-align: top;
  margin-left: -4px;
}

/*Layouts-Page layout styles.*/
/*Navbar*/
/* line 3, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_nav.scss */
.navbar {
  width: 90%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}

/* line 12, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_nav.scss */
.navbar a {
  color: #00aff0 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 19, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_nav.scss */
.navbar li {
  height: 100%;
}

/* line 23, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background: #00aff0;
  color: #fff !important;
}

/* line 1, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_footer.scss */
.footer-main {
  background: #2b5464;
  color: #ffffff;
  border-top: 5px solid white;
  min-height: 200px;
  padding: 30px 0;
  z-index: 200;
}

/* line 7, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_footer.scss */
.footer-main a {
  color: white;
}

/* line 10, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0px;
  padding: 0px;
}

/* line 15, C:/Users/Darko/Desktop/Projects/skyapp/scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}

/*# sourceMappingURL=../css/main.map */